Repository joshuafolkken/talk-svelte: changes, and which lefthook commands are due for each by the changed paths.
All: cspell, prettier, eslint

cspell:
  run: npx cspell {staged_files}

prettier:
  run: npx prettier --check --ignore-unknown {staged_files}

eslint:
  run: npx eslint --quiet {staged_files}

fix: mismatch #177
  docs/ai_test.md
  docs/tech.md
  src/lib/utils/transcript.spec.ts
  src/lib/utils/transcript.ts
Due: cspell, prettier, eslint

fix: mismatch #177
  docs/ai_test.md
  e2e/youtube.test.ts
  prompts/eslint.md
  prompts/test.md
  src/lib/data/questions.spec.ts
  src/lib/utils/transcript.spec.ts
Due: cspell, prettier, eslint

kill-port before e2e test #179
  lefthook.yml
  package.json
Due: cspell, prettier

fix: first voice #181
  src/lib/data/questions.ts
  src/routes/+page.svelte
Due: cspell, prettier, eslint

fix: first voice #181 fix sonarcube
  e2e/page.test.ts
  prompts/test.md
  src/lib/components/AudioSection.svelte
  src/lib/components/ToggleRevealButton.svelte
  src/routes/+page.svelte
Due: cspell, prettier, eslint

refactor: test prompt #187
  prompts/test.md
Due: cspell, prettier

prompt: commit push pr #192
  cspell.config.yaml
  prompts/git-automation.md
Due: cspell, prettier

prompt: commit push pr #192
  prompts/git-automation.md
Due: cspell, prettier

order praise audios #194
  prompts/test.md
  src/lib/data/praise-audio.spec.ts
  src/lib/data/praise-audio.ts
Due: cspell, prettier, eslint

order praise audios #194
  prompts/git-automation.md
  src/lib/data/praise-audio.ts
Due: cspell, prettier, eslint

order praise audios #194
  static/audio/good-x.mp3
Due: none

order praise audios #194
  prompts/git-automation.md
Due: cspell, prettier

refactor: test prompt #196
  prompts/test.md
Due: cspell, prettier

refactor: test prompt #196
  prompts/git-automation.md
Due: cspell, prettier

upgrade prompts #201
  prompts/coding-standards.md
  prompts/git-automation.md
  prompts/others.md
  prompts/refactoring.md
  prompts/testing-guide.md
  src/routes/+page.svelte
Due: cspell, prettier, eslint

hooks #203
  eslint.config.js
  src/lib/hooks/UseAudioState.svelte.ts
  src/routes/+page.svelte
Due: cspell, prettier, eslint

hooks #203
  eslint.config.js
  prompts/git-automation.md
  src/lib/hooks/UseAudioState.svelte.ts
  src/lib/hooks/UseRecordingState.svelte.ts
  src/routes/+page.svelte
Due: cspell, prettier, eslint

hooks #203
  src/lib/hooks/UseQuestionState.svelte.ts
  src/lib/hooks/UseResponsive.svelte.ts
  src/lib/hooks/UseUiState.svelte.ts
  src/lib/hooks/UseUrlParameters.svelte.ts
  src/routes/+page.svelte
Due: cspell, prettier, eslint

hooks #203
  eslint.config.js
  prompts/refactoring.md
  src/lib/constants/audio.ts
  src/lib/hooks/UseAudioState.svelte.ts
  src/lib/hooks/UsePraiseAudioState.svelte.ts
  src/lib/hooks/UseQuestionState.svelte.ts
  src/lib/hooks/UseRecordingState.svelte.ts
  src/routes/+page.svelte
  src/routes/UsePageState.svelte.ts
Due: cspell, prettier, eslint

hooks #203
  src/lib/hooks/UsePraiseAudioState.svelte.ts
  src/routes/UsePageState.svelte.ts
Due: cspell, prettier, eslint

check include your text #199
  src/lib/utils/transcript.ts
  src/routes/UsePageState.svelte.ts
Due: cspell, prettier, eslint

add phrases #208
  src/lib/data/questions.spec.ts
  src/lib/data/questions.ts
  static/audio/others/i-take-full-responsibility-x.mp3
Due: cspell, prettier, eslint

add phrases #208
  sonar-project.properties
Due: none

autoplay except on ios #220
  src/lib/utils/device.ts
  src/routes/+page.svelte
Due: cspell, prettier, eslint

phrases map #223
  e2e/youtube.test.ts
  src/lib/components/YoutubeBackground.svelte
Due: cspell, prettier, eslint

menu screen #224
  eslint.config.js
  scripts/generate-voices.ts
  src/lib/components/MenuScreen.svelte
  src/lib/data/phrases/back-to-the-future.ts
  src/lib/hooks/UsePhraseState.svelte.ts
  src/lib/hooks/UseUrlParameters.svelte.ts
  src/routes/+page.svelte
  static/audio/i-m-your-density.mp3
  static/audio/it-s-a-delorean-x.mp3
  static/audio/this-is-heavy-x.mp3
  static/audio/this-is-insane-x.mp3
  static/audio/you-re-my-son-x.mp3
Due: cspell, prettier, eslint

fix e2e test for menu screen #224
  e2e/page.test.ts
  playwright.config.ts
Due: cspell, prettier, eslint

quick scaling #229
  src/lib/hooks/UseResponsive.svelte.ts
  src/routes/+page.svelte
Due: cspell, prettier, eslint

update packages #235
  package-lock.json
  package.json
Due: cspell, prettier

decensor transcript #232
  cspell.config.yaml
  src/lib/utils/transcript.ts
Due: cspell, prettier, eslint

separate main code #234
  src/lib/components/backgrounds/AnimatedBackground.svelte
  src/lib/components/backgrounds/YoutubeBackground.svelte
  src/lib/components/features/ToggleRevealButton.svelte
  src/lib/components/features/UserTranscriptButton.svelte
  src/lib/components/screens/MenuScreen.svelte
  src/lib/components/screens/PracticeScreen.svelte
  src/lib/components/sections/ActionButtons.svelte
  src/lib/components/sections/AudioSection.svelte
  src/lib/components/sections/RecordingSection.svelte
  src/lib/components/ui/Button.svelte
  src/lib/components/ui/IconButton.svelte
  src/lib/components/ui/ProgressBar.svelte
  src/lib/components/ui/Section.svelte
  src/routes/+page.svelte
Due: cspell, prettier, eslint

back to the future set 3 #241
  src/lib/components/screens/MenuScreen.svelte
  src/lib/data/phrases/back-to-the-future.ts
  src/lib/utils/text-to-slug.ts
  static/audio/1-21-gigawatts-x.mp3
  static/audio/88-miles-per-hour-x.mp3
  static/audio/back-to-the-future-x.mp3
  static/audio/i-m-from-the-future-x.mp3
  static/audio/this-is-crazy-x.mp3
Due: cspell, prettier, eslint

change collection naming #244
  e2e/page.test.ts
  src/lib/components/screens/MenuScreen.svelte
  src/lib/hooks/UsePhraseState.svelte.ts
  src/lib/hooks/UseUrlParameters.svelte.ts
  src/routes/+page.svelte
Due: cspell, prettier, eslint

keyboard shortcuts #66
  src/lib/components/features/ToggleRevealButton.svelte
  src/lib/components/features/UserTranscriptButton.svelte
  src/lib/components/screens/PracticeScreen.svelte
  src/lib/components/sections/ActionButtons.svelte
  src/lib/components/sections/AudioSection.svelte
  src/lib/components/sections/RecordingSection.svelte
  src/lib/components/ui/IconButton.svelte
  src/lib/constants/actions.ts
  src/lib/keyboard/create-on-keydown.ts
  src/lib/keyboard/keys.ts
Due: cspell, prettier, eslint

agent-lint-protocol #247
  prompts/agent-lint-protocol.json
  prompts/coding-standards.md
Due: cspell, prettier

change shortcuts #251
  src/lib/components/screens/PracticeScreen.svelte
  src/lib/keyboard/keys.ts
Due: cspell, prettier, eslint

Path conditions:
  cspell: any of: *.{js,jsx,ts,tsx,mjs,cjs,svelte,html,css,scss,md,mdx,json,jsonc,yaml,yml}
  prettier: any of: *.{js,jsx,ts,tsx,mjs,cjs,svelte,html,css,scss,md,mdx,json,jsonc,yaml,yml}
  eslint: any of: *.{js,jsx,ts,tsx,mjs,cjs,svelte}
