Repository joshuafolkken/talk-svelte: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx prettier --write --ignore-unknown {staged_files}
  stage_fixed: true

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

vscode extensions #12
  .vscode/extensions.json
Due: none

cspell #8
  cspell.config.yaml
  lefthook.yml
  package-lock.json
  package.json
Due: prettier

format on save #19
  .vscode/settings.json
  cspell.config.yaml
Due: none

lefthook: remove glob #14
  lefthook.yml
Due: none

lefthook: performance #16
  lefthook.yml
  package.json
Due: prettier

release.yml #23
  .github/release.yml
  cspell.config.yaml
Due: none

pr template #18
  .github/pull_request_template.md
Due: none

ci workflow #9
  .github/workflows/ci.yml
  .prettierignore
  SECURITY.md
  cspell.config.yaml
  eslint.config.js
  lefthook.yml
  package.json
  src/lib/server/db/schema.ts
  src/routes/demo/+page.svelte
  src/routes/demo/paraglide/+page.svelte
  src/stories/Page.stories.svelte
  vite.config.ts
Due: prettier, eslint

ci workflow #9
  .github/workflows/ci.yml
Due: none

liquid glass #5
  cspell.config.yaml
  src/lib/GlassButton.svelte
  src/routes/+page.svelte
Due: prettier, eslint

game screen #27
  src/routes/+page.svelte
  src/routes/chatgpt/+page.svelte
Due: prettier, eslint

prettier settings #29
  .prettierrc
  drizzle.config.ts
  e2e/demo.test.ts
  eslint.config.js
  playwright.config.ts
  prettier.config.ts
  src/app.d.ts
  src/demo.spec.ts
  src/hooks.server.ts
  src/hooks.ts
  src/lib/server/auth.ts
  src/lib/server/db/index.ts
  src/lib/server/db/schema.ts
  src/routes/+layout.svelte
  src/routes/demo/+page.svelte
  src/routes/demo/lucia/+page.server.ts
  src/routes/demo/lucia/+page.svelte
  src/routes/demo/lucia/login/+page.server.ts
  src/routes/demo/lucia/login/+page.svelte
  src/routes/demo/paraglide/+page.svelte
  src/routes/page.svelte.spec.ts
  svelte.config.js
  vite.config.ts
Due: prettier, eslint

prettier settings #29
  package-lock.json
  package.json
Due: prettier

prettier settings #29
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: prettier

lefthook: glob #35
  lefthook.yml
Due: none

lefthook: glob #35
  cspell.config.yaml
Due: none

lefthook glob #35
  lefthook.yml
Due: none

fix: format on save #34
  .prettierrc
  prettier.config.ts
Due: prettier, eslint

tsconfig settings #30
  tsconfig.json
Due: prettier

tsconfig settings #30
  src/stories/Button.svelte
  src/stories/Header.svelte
  tsconfig.json
Due: prettier, eslint

svelte settings #31
  svelte.config.js
Due: prettier, eslint

svelte settings #31
  package.json
  src/routes/+page.svelte
  svelte.config.js
Due: prettier, eslint

performance: CI E2E Tests #41
  .github/workflows/ci.yml
  src/routes/+page.svelte
Due: prettier, eslint

game screen #27
  src/routes/+page.svelte
  static/audio/awesome.mp3
  static/audio/live_it.mp3
  static/audio/you_nailed_it.mp3
Due: prettier, eslint

game screen #27
  src/routes/+page.svelte
Due: prettier, eslint

liquid glass #5
  src/lib/GlassButton.svelte
  src/lib/liquid-glass/LiquidGlassButton.svelte
  src/lib/liquid-glass/LiquidGlassSelect.svelte
  src/lib/liquid-glass/glass-style.css
  src/routes/+page.svelte
Due: prettier, eslint

game screen #27 mono
  src/routes/+page.svelte
Due: prettier, eslint

game screen #27 mono liquid
  src/routes/+page.svelte
Due: prettier, eslint

game screen #27 liquid
  src/app.css
  src/routes/+page.svelte
Due: prettier, eslint

refactoring: game screen #46
  src/lib/components/ActionButtons.svelte
  src/lib/components/AnimatedBackground.svelte
  src/lib/components/AudioSection.svelte
  src/lib/components/ProgressBar.svelte
  src/lib/components/RecordingSection.svelte
  src/lib/components/ToggleRevealButton.svelte
  src/lib/data/questions.ts
  src/lib/types/question.ts
  src/routes/+page.svelte
Due: prettier, eslint

refactoring: game screen #46 css
  src/app.css
  src/lib/components/ActionButtons.svelte
  src/lib/components/AudioSection.svelte
  src/lib/components/ProgressBar.svelte
  src/lib/components/RecordingSection.svelte
  src/lib/components/ToggleRevealButton.svelte
  src/routes/+page.svelte
Due: prettier, eslint

liquid glass #5
  cspell.config.yaml
  src/app.css
  src/lib/components/AnimatedBackground.svelte
  src/lib/components/AudioSection.svelte
  src/lib/components/RecordingSection.svelte
  src/lib/components/ToggleRevealButton.svelte
  src/lib/components/YoutubeBackground.svelte
  src/routes/+page.svelte
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,ts,svelte,json,css,md,html}, but not: ^\.|/node_modules/|/dist/|/build/|/\.svelte-kit/
  eslint: any of: *.{js,ts,svelte}, but not: ^\.|/node_modules/|/dist/|/build/|/\.svelte-kit/
