Repository joshuafolkken/talk-svelte: changes, and which lefthook commands are due for each by the changed paths.
All: cspell, prettier, eslint

cspell:
  run: npx cspell {staged_files}

prettier:
  run: npx prettier --check --ignore-unknown {staged_files}

eslint:
  run: npx eslint --quiet {staged_files}

sonarcube: local #87
  cspell.config.yaml
Due: cspell, prettier

sonarcube: fix warning #88
  tsconfig.json
Due: cspell, prettier

sonarcube: fix warning #88
  package-lock.json
  package.json
Due: cspell, prettier

ncu #91
  package-lock.json
  package.json
Due: cspell, prettier

tsconfig.sonar.json #93
  sonar-project.properties
  tsconfig.sonar.json
Due: cspell, prettier

typescript: readonly #96
  src/lib/utils/SpeechToText.ts
Due: cspell, prettier, eslint

restart recording #71
  src/lib/components/RecordingSection.svelte
  src/lib/components/UserTranscriptButton.svelte
  src/lib/utils/SpeechToText.ts
  src/routes/+page.svelte
Due: cspell, prettier, eslint

stop audio on record #72
  src/lib/components/RecordingSection.svelte
  src/routes/+page.svelte
Due: cspell, prettier, eslint

on can play #55
  src/lib/components/AudioSection.svelte
  src/routes/+page.svelte
Due: cspell, prettier, eslint

android chrome #28
  src/lib/components/YoutubeBackground.svelte
  src/lib/types/speech-recognition.types.ts
  src/lib/utils/SpeechToText.ts
  src/lib/utils/device.ts
  src/lib/utils/speech-to-text.ts
  src/routes/+page.svelte
Due: cspell, prettier, eslint

android chrome #28
  src/lib/components/ActionButtons.svelte
  src/lib/components/ProgressBar.svelte
  src/lib/components/Section.svelte
  src/routes/+page.svelte
Due: cspell, prettier, eslint

adapter-static #106
  package-lock.json
  package.json
  src/routes/+layout.ts
  src/routes/+page.svelte
  src/routes/demo/+layout.ts
  svelte.config.js
Due: cspell, prettier, eslint

iOS Safari #103
  src/lib/components/ActionButtons.svelte
  src/lib/components/Section.svelte
  src/lib/types/speech-recognition.types.ts
  src/lib/utils/speech-to-text.ts
Due: cspell, prettier, eslint

iOS Safari #103
  src/app.css
  src/lib/components/ActionButtons.svelte
  src/lib/components/ProgressBar.svelte
Due: cspell, prettier, eslint

check current branch #111
  cspell.config.yaml
  lefthook.yml
  package-lock.json
  package.json
  scripts/check-commit-message.ts
  scripts/prevent-main-commit.ts
Due: cspell, prettier, eslint

check current branch #111
  scripts/check-commit-message.ts
  scripts/prevent-main-commit.ts
Due: cspell, prettier, eslint

ngrok #115
  vite.config.ts
Due: cspell, prettier, eslint

update packages #112
  package-lock.json
  package.json
Due: cspell, prettier

fix: sonarcube issues #113
  svelte.config.js
Due: cspell, prettier, eslint

mark only icon #119
  src/lib/components/ActionButtons.svelte
  src/lib/components/AudioSection.svelte
  src/lib/components/IconButton.svelte
  src/lib/components/RecordingSection.svelte
  src/lib/components/icons/ArrowLeftIcon.svelte
  src/lib/components/icons/HeartIcon.svelte
  src/lib/components/icons/Icon.svelte
  src/lib/components/icons/RetryIcon.svelte
  src/lib/components/icons/index.ts
  src/routes/+page.svelte
Due: cspell, prettier, eslint

constants.ts #107
  src/lib/constants.ts
  src/lib/utils/speech-to-text.ts
  src/routes/+page.svelte
Due: cspell, prettier, eslint

like mobile #109
  src/routes/+page.svelte
Due: cspell, prettier, eslint

windows chrome/edge #110
  .gitignore
Due: none

windows chrome/edge #110
  scripts/check-commit-message.ts
  scripts/prevent-main-commit.ts
Due: cspell, prettier, eslint

refactoring: scripts #116
  scripts/check-commit-message.ts
  scripts/common.ts
  scripts/prevent-main-commit.ts
Due: cspell, prettier, eslint

refactoring: scripts #116
  scripts/common.ts
Due: cspell, prettier, eslint

deploy github pages #52
  .github/workflows/ci.yml
  .github/workflows/deploy-gh-pages.yml
Due: cspell, prettier

deploy github pages #52
  .github/workflows/deploy-gh-pages.yml
Due: cspell, prettier

deploy github pages #52
  .github/workflows/deploy-gh-pages.yml
  svelte.config.js
Due: cspell, prettier, eslint

deploy github pages #52
  src/lib/components/AudioSection.svelte
  src/lib/constants.ts
Due: cspell, prettier, eslint

fix play audio #135
  src/lib/components/AudioSection.svelte
Due: cspell, prettier, eslint

compare text #73
  src/lib/components/RecordingSection.svelte
  src/lib/components/UserTranscriptButton.svelte
  src/routes/+page.svelte
Due: cspell, prettier, eslint

completed button #138
  src/app.css
  src/lib/components/ActionButtons.svelte
  src/lib/components/icons/TrophyIcon.svelte
  src/lib/components/icons/index.ts
  src/routes/+page.svelte
Due: cspell, prettier, eslint

update packages #146
  package-lock.json
  package.json
Due: cspell, prettier

refactoring #140
  src/lib/constants.ts
  src/lib/data/questions.ts
  src/lib/utils/audio.ts
  src/lib/utils/responsive.ts
  src/lib/utils/speech-to-text.ts
  src/lib/utils/transcript.ts
  src/routes/+page.svelte
Due: cspell, prettier, eslint

refactoring #140
  src/lib/components/ActionButtons.svelte
  src/lib/components/AudioSection.svelte
  src/lib/components/IconButton.svelte
  src/lib/components/RecordingSection.svelte
  src/lib/components/icons/Icon.svelte
  src/lib/constants.ts
Due: cspell, prettier, eslint

Path conditions:
  cspell: any of: *.{js,jsx,ts,tsx,mjs,cjs,svelte,html,css,scss,md,mdx,json,jsonc,yaml,yml}
  prettier: any of: *.{js,jsx,ts,tsx,mjs,cjs,svelte,html,css,scss,md,mdx,json,jsonc,yaml,yml}
  eslint: any of: *.{js,jsx,ts,tsx,mjs,cjs,svelte}
