Repository joshuafolkken/talk-svelte: changes, and which lefthook commands are due for each by the changed paths.
All: cspell, prettier, eslint

cspell:
  run: npx cspell {staged_files}

prettier:
  run: npx prettier --check --ignore-unknown {staged_files}

eslint:
  run: npx eslint --quiet {staged_files}

liquid button #5 buttons
  src/app.css
Due: cspell, prettier

refactoring: ui #50
  src/app.css
  src/lib/components/ActionButtons.svelte
  src/lib/components/AudioSection.svelte
  src/lib/components/RecordingSection.svelte
  src/lib/components/ToggleRevealButton.svelte
  src/lib/components/YoutubeBackground.svelte
  src/routes/+page.svelte
Due: cspell, prettier, eslint

refactoring #54
  cspell.config.yaml
  src/lib/components/ActionButtons.svelte
  src/lib/components/AnimatedBackground.svelte
  src/lib/components/ProgressBar.svelte
  src/lib/components/RecordingSection.svelte
  src/lib/components/ToggleRevealButton.svelte
  src/lib/components/YoutubeBackground.svelte
  src/routes/+page.svelte
Due: cspell, prettier, eslint

refactoring #54
  src/app.css
  src/routes/+page.svelte
Due: cspell, prettier, eslint

refactoring #54
  src/lib/components/ActionButtons.svelte
  src/lib/components/AudioSection.svelte
  src/lib/components/RecordingSection.svelte
  src/lib/components/ToggleRevealButton.svelte
  src/lib/data/questions.ts
  src/lib/types/index.ts
Due: cspell, prettier, eslint

refactoring #54
  src/routes/+page.svelte
Due: cspell, prettier, eslint

refactoring #54
  src/routes/chatgpt/+page.svelte
Due: cspell, prettier, eslint

refactoring #54
  src/lib/components/ActionButtons.svelte
  src/lib/components/AudioSection.svelte
  src/lib/components/Button.svelte
  src/lib/components/IconButton.svelte
  src/lib/components/RecordingSection.svelte
  src/lib/components/ToggleRevealButton.svelte
Due: cspell, prettier, eslint

refactoring #54 icons
  src/lib/components/ActionButtons.svelte
  src/lib/components/AudioSection.svelte
  src/lib/components/Button.svelte
  src/lib/components/IconButton.svelte
  src/lib/components/RecordingSection.svelte
  src/lib/components/ToggleRevealButton.svelte
  src/lib/components/icons/ArrowRightIcon.svelte
  src/lib/components/icons/ChevronDownIcon.svelte
  src/lib/components/icons/HeartIcon.svelte
  src/lib/components/icons/MicrophoneIcon.svelte
  src/lib/components/icons/PauseIcon.svelte
  src/lib/components/icons/PlayIcon.svelte
  src/lib/components/icons/RetryIcon.svelte
  src/lib/components/icons/StopIcon.svelte
  src/lib/components/icons/index.ts
Due: cspell, prettier, eslint

refactoring #54 icon.svelte
  src/lib/components/IconButton.svelte
  src/lib/components/icons/ArrowRightIcon.svelte
  src/lib/components/icons/ChevronDownIcon.svelte
  src/lib/components/icons/HeartIcon.svelte
  src/lib/components/icons/Icon.svelte
  src/lib/components/icons/MicrophoneIcon.svelte
  src/lib/components/icons/PauseIcon.svelte
  src/lib/components/icons/PlayIcon.svelte
  src/lib/components/icons/RetryIcon.svelte
  src/lib/components/icons/StopIcon.svelte
  src/routes/+page.svelte
Due: cspell, prettier, eslint

refactoring #54 section.svelte
  src/lib/components/AudioSection.svelte
  src/lib/components/ProgressBar.svelte
  src/lib/components/RecordingSection.svelte
  src/lib/components/Section.svelte
  src/routes/+page.svelte
Due: cspell, prettier, eslint

refactoring #54 comments
  src/lib/components/AnimatedBackground.svelte
  src/lib/components/ToggleRevealButton.svelte
  src/lib/components/YoutubeBackground.svelte
  src/routes/+page.svelte
Due: cspell, prettier, eslint

organize-imports #60
  .prettierrc
  eslint.config.js
  package-lock.json
  package.json
  src/demo.spec.ts
  src/hooks.server.ts
  src/lib/server/auth.ts
  src/lib/server/db/index.ts
  src/lib/server/db/schema.ts
  src/routes/demo/lucia/+page.server.ts
  src/routes/demo/lucia/login/+page.server.ts
  svelte.config.js
  vite.config.ts
Due: cspell, prettier, eslint

refactoring #54 organize imports
  .prettierrc
  .vscode/settings.json
  cspell.config.yaml
  eslint.config.js
  package-lock.json
  package.json
  src/hooks.server.ts
  src/lib/components/icons/index.ts
  src/lib/server/auth.ts
  src/routes/+page.svelte
  src/routes/demo/lucia/+page.server.ts
  src/routes/demo/lucia/login/+page.server.ts
  src/routes/demo/paraglide/+page.svelte
Due: cspell, prettier, eslint

refactoring #54 type=button
  src/lib/components/Button.svelte
  src/lib/components/IconButton.svelte
  src/lib/components/ToggleRevealButton.svelte
  src/routes/+page.svelte
Due: cspell, prettier, eslint

refactoring #54 aria-label
  src/lib/components/AudioSection.svelte
  src/lib/components/Button.svelte
  src/lib/components/IconButton.svelte
  src/lib/components/RecordingSection.svelte
  src/lib/components/ToggleRevealButton.svelte
  src/lib/components/YoutubeBackground.svelte
Due: cspell, prettier, eslint

refactoring #54 aria-label
  src/lib/components/ActionButtons.svelte
  src/lib/components/AudioSection.svelte
  src/lib/components/ToggleRevealButton.svelte
Due: cspell, prettier, eslint

refactoring #54 css
  src/app.css
  src/lib/components/RecordingSection.svelte
  src/lib/components/ToggleRevealButton.svelte
Due: cspell, prettier, eslint

refactoring #54
  src/app.css
  src/lib/components/ActionButtons.svelte
  src/lib/components/Button.svelte
  src/lib/components/RecordingSection.svelte
  src/lib/components/ToggleRevealButton.svelte
  src/lib/data/questions.ts
Due: cspell, prettier, eslint

refactoring #54
  src/app.css
  src/lib/components/ActionButtons.svelte
  src/lib/components/ProgressBar.svelte
  src/lib/components/RecordingSection.svelte
Due: cspell, prettier, eslint

refactoring #54
  src/lib/components/icons/ArrowRightIcon.svelte
  src/lib/components/icons/ChevronDownIcon.svelte
  src/lib/components/icons/MicrophoneIcon.svelte
  src/lib/components/icons/PauseIcon.svelte
  src/lib/components/icons/PlayIcon.svelte
  src/lib/components/icons/StopIcon.svelte
Due: cspell, prettier, eslint

Create sonarcloud.yml
  .github/workflows/sonarcloud.yml
Due: cspell, prettier

sonarcloud #64
  src/routes/+page.svelte
Due: cspell, prettier, eslint

sonarcloud #64
  .github/workflows/sonarcloud.yml
  cspell.config.yaml
Due: cspell, prettier

youtube id #53
  src/lib/components/YoutubeBackground.svelte
  src/routes/+page.svelte
Due: cspell, prettier, eslint

speech-to-text #70
  src/lib/utils/SpeechToText.ts
  src/routes/+page.svelte
Due: cspell, prettier, eslint

enable Automatic Analysis #76
  .github/workflows/sonarcloud.yml
Due: cspell, prettier

cspell: check dot #78
  .github/workflows/ci.yml
  cspell.config.yaml
Due: cspell, prettier

enable Automatic Analysis #76
  .github/workflows/sonar-cube.yml
  sonar-project.properties
Due: cspell, prettier

PR: sonarcube #81
  .github/workflows/sonar-cube.yml
  sonar-project.properties
Due: cspell, prettier

Potential fix for code scanning alert no. 7: Workflow does not contain permissions
  .github/workflows/sonar-cube.yml
Due: cspell, prettier

PR: sonarcube #81
  sonar-project.properties
Due: none

sonarcube: disable coverage checks #83
  sonar-project.properties
Due: none

sonarcube: fix issues #85
  src/lib/utils/SpeechToText.ts
  src/routes/+page.svelte
Due: cspell, prettier, eslint

sonarcube: local #87
  .env.example
  .gitignore
  package-lock.json
  package.json
Due: cspell, prettier

Path conditions:
  cspell: any of: *.{js,jsx,ts,tsx,mjs,cjs,svelte,html,css,scss,md,mdx,json,jsonc,yaml,yml}
  prettier: any of: *.{js,jsx,ts,tsx,mjs,cjs,svelte,html,css,scss,md,mdx,json,jsonc,yaml,yml}
  eslint: any of: *.{js,jsx,ts,tsx,mjs,cjs,svelte}
